.userDetail{
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em;
  opacity: 0.8;
  padding: 4em 5em 2em 4em;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 2px #727171;
  -webkit-box-shadow: 5px 5px 10px 2px #727171;
  -moz-box-shadow: 5px 5px 10px 2px #727171;
}
.main{

  padding-top: 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 3em;
}

